@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div>
        <p><strong>JQUERY/Ajax cascading dropdown technology demonstration</strong></p>
        <p>
            This is a quick demonstration of using
            <ul>
                <li>ASP.NET CORE</li>
                <li>JQUERY and AJAX</li>
                <li>MVC pattern</li>
                <li>Entity Framework</li>
                <li>SQL datbase</li>
            </ul>
            to produce a series of dropdowns where the second and third dropdown fill in information based on the previous
            dropdown's selection.  This is done without refreshing the page. I will be using this technology in my greenthumb
            project for plant types and names area and thought I would prove out the technology in this separate project first.
            I am new to JQUERY and AJAX and might start exploring boxor or Angular to see if they offer anything better.
          
          
            <a class="text-dark" asp-area="" asp-controller="Demo" asp-action="Index">Go to the demonstration</a>
        </p>
    </div>

